<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
    <script type="text/x-template" id="item-template">
      <li>
        <div
          :class="{bold: isFolder}"
          @click="toggle">
          {{ item.name }}
          <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
          <span v-if="!isFolder && loginForm.editCreator"> <img  @click="editEntry(item.id)"  src="img/edit.svg" height="16" alt="Редактировать"></span>
          <span v-if="!isFolder && loginForm.editCreator"> <img  @click="deleteEntry(item.id)"src="img/trash-can_115312.svg" height="24"height="16" alt="Удалить"></span>
        </div>
        <ul v-show="isOpen" v-if="isFolder">
          <tree-item
            class="item"
            v-for="(child, index) in item.children"
            :key="index"
            :item="child"
          ></tree-item>
        </ul>
      </li>
    </script>    
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container" v-bind:class="addstyle">

              <div class="modal-header">
                <slot name="header">
                </slot>
              </div>
              <div class="modal-body">
                <slot name="body">
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
</head>
<body>
<body>
    <div id="topPanel" class="topPanel">
        <div class="dropdown-menu">
        <button @click="openLoginFrom">{{ loginForm.name}}</button>
        <div class="dropdown-menu-content">
            <a v-if="loginForm.userManagement" href="#" @click="openUsersForm">Редактировать пользователей</a>
            <a v-if="loginForm.editDirectory" href="#" @click="opendirectoryEditor('genres')">Редактировать жанры</a>
            <a v-if="loginForm.editDirectory" href="#" @click="opendirectoryEditor('types')">Редактировать типы изданий</a>
            <a v-if="loginForm.editDirectory" href="#" @click="opendirectoryEditor('publishers')">Редактировать издателей</a>
            <a v-if="loginForm.editDirectory" href="#" @click="opendirectoryEditor('languages')">Редактировать языки</a>
            <a v-if="loginForm.isLogined" href="#" @click="logout()">Выйти</a>            
        </div>
        </div>
    </div>
    <div id="creators" class="leftPanel">
        <span v-if="loginForm.editCreator"><button  @click="editEntry(null)">Добавить автора</button></span>
        <ul>
            <tree-item
                class="item"
                v-for="(child, index) in treeData"
                   :item="child"
            ></tree-item>
        </ul>
    </div>
    <div class="searchPanel">
        <div id="books">
            <span v-if="loginForm.editBook && creatorId > 0"><button  @click="openBookFrom(null)">Добавить книгу</button></span>
            <div v-for="book in books">
                <p class="oneBookHeader">
                    <span @click="openBookFrom(book.bookId)"> {{ book.Title }} {{ book.LastName }} {{ book.FirstName }} {{ book.midleName }} </span>
                    <img  @click="openBookFrom(book.bookId)"  src="img/edit.svg" height="16" alt="Редактировать">
                    <span v-if="loginForm.deleteBook"><img  @click="deleteBook(book.bookId)" src="img/trash-can_115312.svg" height="16" alt="Удалить"></span>
                    <span v-if="loginForm.isLogined"><button @click="reserveBook(book.bookId)"> зарезервировать </button></span>
                </p>
                <p class="oneBookBody"><span> {{ book.description }} </span></p>
            </div>
        </div>
    </div>

    <div id="loginForm" >
        <modal v-if="showLoginWindow" @close="showLoginWindow = false" addstyle="modal-container-login">
        <template v-slot:header>
            <h3>Введите логин пароль</h3>
        </template>
        <template v-slot:body>
            <form v-on:submit.prevent="loginBtn">
            <p class="loginForm"><label>login</label><input v-model="login"></p>
            <p class="loginForm"><label>password</label><input v-model="password" type="password"></p>
            <p> <button type="submit">OK</button>
                <button type="button"  @click="closeBtn">Звакрыть</button>
            </p>
            </form>
        </template>
    </modal>
   </div>
   <div id="bookForm" >
        <modal v-if="showWindow" @close="showWindow = false" addstyle="modal-container-book">
        <template v-slot:header>
            <h3>Редактирование описания книги</h3>
        </template>
        <template v-slot:body>
            <form v-on:submit.prevent="saveBtn">
            <p class="bookForm"><label>Название</label><input v-model="book.Title"></p>
            <p class="bookForm"><label>Описание</label><textarea v-model="book.description"></textarea></p>
            <p class="bookForm"><label>Издатель</label>
               <select v-model="book.publisherId">
                <option v-for="option in AllPublishers" v-bind:value="option.id">
                    {{ option.label }}
                </option>
               </select>
            </p>            
            <p class="bookForm"><label>ISBN</label><input v-model="book.identifier"></p>
            <p class="bookForm"><label>Язык</label>
               <select v-model="book.languageId">
                <option v-for="option in AllLanguage" v-bind:value="option.id">
                    {{ option.label }}
                </option>
               </select>
            </p>  
            <p class="bookForm"><label>Тип издания</label>
               <select v-model="book.typeId">
                <option v-for="option in AllTypes" v-bind:value="option.id">
                    {{ option.label }}
                </option>
               </select>
            </p>
            <p class="bookForm"><label>Год издания</label><input v-model="book.yearOfPublishing"></p>
            <p class="bookForm"><label>Место издания</label><input v-model="book.PlaceOfPublication"></p>
            <p class="bookFormTreeselect"><label>Жанры</label><treeselect v-model="book.genres" :multiple="true" :options="Allgenres"  /></p>
            <p> 
                <button  type="submit">Сохранить</button>
                <button  type="button" @click="closeBtn">Отмена</button>
            </p>
            </form>
            <div class="AviableBook">
            Добавить экземпляр <img  @click="addCopy()" src="img/gui_add_icon_157253.svg" height="16" alt="Добавить">
            <table class="AviableBookTable">
            <tr class="AviableBookTable">
                <th class="AviableBookTable">Инвентарный номер</th>
                <th class="AviableBookTable">Местонахождение</th>
                <th class="AviableBookTable">Дата истечения</th>
                <th class="AviableBookTable">Состояние</th>
                <th class="AviableBookTable">Действия</th>                
            </tr>
            <tr  v-for="AviableBook in AviableBooks" class="AviableBookTable">
                <td class="AviableBookTable">{{AviableBook.inventoryId}} </td>
                <td class="AviableBookTable">{{AviableBook.location}}</td>
                <td class="AviableBookTable">{{AviableBook.expireDate}} </td>
                <td class="AviableBookTable">{{AviableBook.sateru}} </td>
                <td class="AviableBookTable">
                    <img  @click="handingIn(AviableBook.inventoryId)"  src="img/box-in-icon_34483.png"  height="16" alt="Принять">
                    <img  @click="handingOut(AviableBook.inventoryId)" src="img/box-out-icon_34482.png" height="16" alt="Выдать">
                    <img  @click="deleteCopy(AviableBook.inventoryId)" src="img/trash-can_115312.svg"   height="16" alt="Удалить">               
                </td>
            </tr>
            <table>
            </div>
        </template>
    </modal>
   </div>
   <div id="usersForm">
        <modal v-if="showWindow" @close="showWindow = false" addstyle="modal-container-users" >
        <template v-slot:header>
            <h3></h3>
        </template>
        <template v-slot:body>
            <button  @click="openUser(null)">Новый пользователь</button>
            <div v-for="user in users" >
                <p>
                <span @click="openUser(user.userid)"> {{ user.login }} {{ user.lastName }} {{ user.firstName }} {{ user.midleName }} {{ user.roleName }}</span>
                <img  @click="deleteUser(user.userid)" src="img/trash-can_115312.svg" height="24" alt="Удалить">
                </p>
                <button  @click="showWindow = false">Закрыть</button>
            </div>
        </template>
    </modal>
   </div>    
    <div id="userForm" >
        <modal v-if="showWindow" @close="showWindow = false" addstyle="modal-container-user">
        <template v-slot:header>
            <h3></h3>
        </template>
        <template v-slot:body>
        <form v-on:submit.prevent="saveBtn">
            <p class="userForm"><label>Логин</label><input v-model="user.login"></p>
            <p class="userForm"><label>Имя</label><input v-model="user.firstName"></p>
            <p class="userForm"><label>Фамилия</label><input v-model="user.lastName"></p>
            <p class="userForm"><label>Отчество</label><input v-model="user.midleName"></p>
            <p><select v-model="user.roleId">
                <option v-for="option in roles" v-bind:value="option.id">
                    {{ option.name }}
                </option>
               </select>
            </p>
            <p class="userForm" v-bind:class="{ FieldWithError: passwordInvalide }"><label>Пароль</label><input v-model="user.password"></p>
            <p class="userForm" v-bind:class="{ FieldWithError: passwordInvalide }"><label>Повтор пароля</label><input v-model="password"></p>
            <p> 
                <button  type="submit">Сохранить</button>
                <button  type="button" @click="closeBtn">Отмена</button>
            </p>
            </form>
        </template>
    </modal>
   </div> 
   <div id="handingОutForm" >
        <modal v-if="showWindow" @close="showWindow = false" addstyle="modal-container-error" >
        <template v-slot:header>
            <h3>Выдача книг</h3>
        </template>
        <template v-slot:body>
             <form v-on:submit.prevent="saveBtn">
             <p>
                <treeselect v-model="selectedUser" :multiple="false" :disable-branch-nodes="true" :options="users"  />
             </p>
             <p>
                <v-date-picker is-expanded v-model='selectedDate' />
             </p>
             <p> 
                <button  type="submit">Сохранить</button>
                <button  type="button" @click="closeBtn">Отмена</button>
            </p>
            </form>
        </template>
    </modal>   
   </div>   
   <div id="directoryList" >
        <modal v-if="showWindow" @close="showWindow = false" addstyle="modal-container-directoryList" >
        <template v-slot:header>
            <h3>Редактор справочника</h3>
        </template>
        <template v-slot:body>
          <div class="directoryList">
            <p v-for="element in data"  >
              <span @click="openEntry(element.id)">{{ element.name }} </span>
              <img  @click="deleteEntry(element.id)" src="img/trash-can_115312.svg" height="16" alt="Удалить">
            </p>
          </div>
          <button  type="button" @click="CloseWindow">Закрыть</button>
        </template>
    </modal>   
   </div>  
    <div id="directoryEntry" >
        <modal v-if="showWindow" @close="showWindow = false" addstyle="modal-container-directoryEntry" >
        <template v-slot:header>
            <h3>Редактор справочника</h3>
        </template>
        <template v-slot:body>
            <form v-on:submit.prevent="saveBtn">
            <p class="directoryEntryForm"><label>Название</label><input v-model="directory.name"></p>
            <p> <button type="submit">Сохранить</button>
                <button type="button"  @click="closeBtn">Звакрыть</button>
            </p>
            </form>
        </template>
    </modal>   
   </div>
   <div id="creatorFrom" >
        <modal v-if="showWindow" @close="showWindow = false" addstyle="modal-container-directoryEntry" >
        <template v-slot:header>
            <h3>Редактор справочника</h3>
        </template>
        <template v-slot:body>
            <form v-on:submit.prevent="saveBtn">
            <p class="directoryEntryForm"><label>Фамилия</label><input v-model="directory.LastName"></p>
            <p class="directoryEntryForm"><label>Имя</label><input v-model="directory.FirstName"></p>
            <p class="directoryEntryForm"><label>Отчество</label><input v-model="directory.midleName"></p>
            <p> <button type="submit">Сохранить</button>
                <button type="button"  @click="closeBtn">Звакрыть</button>
            </p>
            </form>
        </template>
    </modal>   
   </div>      
   <div id="errorWindow" >
        <modal v-if="showWindow" @close="showWindow = false" addstyle="modal-container-error" >
        <template v-slot:header>
            <h3>Ошибка</h3>
        </template>
        <template v-slot:body>
            <p>{{ text }}<p>
            <button  type="button" @click="CloseWindow">Закрыть</button>
        </template>
    </modal>   
   </div>   
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
<script src='https://unpkg.com/v-calendar'></script>
<script src="script.js"></script>
</body>
</html>
